<!-- 
   - Bookmark/new.html.erb 
   - Author: Danielle Fudger
   - Created: April, 2014
   - 
   - This view contains the form a user would fill to create a new bookmark.
   -->

<h1>New Bookmark</h1>

<p>Add a url and some information to save a bookmark to the site</p>
<br>

<!-- This is the form for creating a new bookmark -->
<%= form_for :bookmark, url: bookmarks_path do |f| %>
   <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

	<p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :tags %>
    <p>(Please separate tags by commas)</p>
    <%= f.text_area :tagList %>
  </p>

  <p>
    <%= f.label :site %><br>
    <%= f.text_field :siteID %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>