<!-- 
   - Bookmark/show.html.erb 
   - Author: Danielle Fudger
   - Created: April, 2014
   - 
   - This view displays information for an individual bookmark.
   -->

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @bookmark.title %>
</p>

<p>
 <strong>url:</strong>
  <%= @bookmark.url %>
</p> 

<p>
  <strong>Description:</strong>
  <%= @bookmark.description %>
</p>

<p>
  <strong>Site:</strong>
  <%= @bookmark.siteID %>
</p>

<p>
  <strong>Tags:</strong>
 
  <% @bookmark.tags.each do |i| %>
  		
  		<%= i.title %>
  <% end %>
</p>

<%= link_to 'Home', {controller: "welcome"}, :class => 'btn btn-primary' %>