<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @bookmark.title %>
</p>

<p>
 <strong>url:</strong>
  <%= @bookmark.url %>
</p> 

<p>
  <strong>Description:</strong>
  <%= @bookmark.description %>
</p>

<p>
  <strong>Site:</strong>
  <%= @bookmark.siteID %>
</p>
